@charset "utf-8";
@import "@/sass/variables.scss";

body {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  margin:0px;
  overflow-y:auto;
  /* background-color: var(--secondary)!important; */
  /* font-family: var(--bodyFamily)!important; */
  /* font-size:1rem!important; */
}

.dark-glass {
	background-color: var(--darkPrimary)!important;
	color: var(--textColor);
}

* { user-select: none; }

p {
  text-indent: 25px;
  text-align:justify;
  line-height: 2.0em;
  color: var(--textColor);
}

.center-js {
  position: fixed;
  top: calc(50vh - 150px);
  left: calc(50vw - 150px);
  /* mix-blend-mode: hard-light;
  -webkit-filter: drop-shadow(4px 4px 5px #000000b0);
  filter: drop-shadow(4px 4px 5px #000000b0); */
  transition: all 0.5s;
}

.center-js:hover {
  cursor:pointer;
}

.footer-copyright {
	position: fixed;
	bottom: 8px;
	right: 12px;
  font-family: var(--footerFamily);
  font-size: 20px;
	color: #ccc;
}

.footer-copyright::before {
  content: '©';
  font-size: 28px;
  vertical-align: middle;
}

@media screen and (max-height: 420px) and (max-width: 420px) {
  .footer-copyright {
    display: none!important;
  }
}

.v-text-field__prefix, .v-text-field__suffix {
	color: #5cf9 !important;
}

a, button,
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dark-card {
  background-color: #00000070!important;
  color: #ffff00!important;
}

.bottomSheet {
  margin-bottom:20px;
}
.subheader {
  font-family: var(--subheaderFamily);
}

.toolbar__title {
  text-shadow: 1px 1px 1px #00000090;
}

.scroll-container {
  position: absolute;
  top: 10%;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 32px 16px;
  background: #00000090;
  border: solid 1px white;
  overflow-y: auto;
}

.scrolled-from-left {
  padding: 10px 20px;
  line-height: 1.0rem;
  opacity: 0;
  color: white;
  width: max-content;
  transform: translate3d(-300px, 0, 0);
  transition: 1.5s all cubic-bezier(0.39, 0.575, 0.565, 1);
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}
::-webkit-scrollbar-track {
	background: transparent;
	box-shadow: inset -0px -0px 2px rgba(0, 20, 30, 0.8)
}
::-webkit-scrollbar-thumb {
	width: 6px;
  background: #00000050;
	box-shadow: inset 1px 1px 1px #fff;
}
::-webkit-scrollbar-corner {
	background-color: #fff;
}
