@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Poppins|Roboto|Montserrat|Dancing+Script|&display=swap');

:root {
  --canvas-width: 120px;
  --canvas-height: 120px;
  --textColor: #cde;
	--background: #15253090;
  --darkPrimary: #00000090!important;

  --spec-word-color: #cd47e2;
  --user-name-color: #e09050;

  --firstFamily: Poppins, Roboto, sans-serif;
  --bodyFamily: Montserrat, Poppins, sans-serif;
  --footerFamily: 'Dancing Script', Roboto, monospace, sans-serif;
  --subheaderFamily: 'Luckiest Guy', sans-serif;
}
